<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="">
        <label for="">Email</label>
        <br>
        <input type="email" name="email">
        <br>
        <label for="">Password</label>
        <br>
        <input type="password" name="password">
        <br>
    </form>
</body>
</html>